.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #34495e;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-menu-item:hover {
  background-color: #1abc9c;
}

.slidebar-hr {
  opacity: .4;
  margin: 8px 0;
}